@model MyWebsite.Models.Index
@{
    ViewData["Title"] = "Home Page";
}
        <!--CONTENT-->
            <!--HOME-->
            <section id="home">
                <div class="container">
                    <div class="row">
                        <div class="wrap-hero-content">
                            <div class="hero-content">
                                <h1>Hello</h1>
                                <br>
                                <span class="typed"></span>
                            </div>
                        </div>
                        <div class="mouse-icon margin-20">
                            <div class="scroll"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/.HOME END-->
            <!--ABOUT-->
            <section id="about">
                <div class="col-md-6 col-xs-12 no-pad">
                    <div class="bg-about"></div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <!--OWL CAROUSEL2-->
                        <div class="owl-carousel2">
                            <div class="col-md-12">
                                <div class="wrap-about">
                                    <div class="w-content">
                                        <p class="head-about">
                                            I would like to live in a world filled with latest technology, errorless programming
                                            compilation bundled with dark chocolates and shelves full of Marvel & DC comic books.
                                            When I am not coding or developing fancy stuffs, you can find me feasting on some 
                                            delicious spicy Biriyani, relaxing on my cozy bed and watching Netflix after long hours
                                            of hard work. I also like playing video games and cricket and I am a huge fan of BATMAN.
                                        </p>
                                        <h5 class="name">
                                            Shivsunder Majhi
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                                        <div class="wrap-about">
                                            <table class="w-content">
                                                <tr>
                                                    <td class="title">Name </td>
                                                    <td class="break">:</td>
                                                    <td> Shivsunder Majhi</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Phone </td>
                                                    <td class="break">:</td>
                                                    <td> +64 (0)21 184 3988</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Email </td>
                                                    <td class="break">:</td>
                                                    <td> contactshiv@www.developershiv.com</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Address </td>
                                                    <td class="break">:</td>
                                                    <td> Invercargill - 9812, New Zealand</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Skype </td>
                                                    <td class="break">:</td>
                                                    <td> shivsunder.majhi</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/.OWL CAROUSEL2 END-->
                    </div>
                </div>
            </section>
            <!--/.ABOUT END-->
            <!--SKILLS-->
<section class="grey-bg mar-tm-10" id="skill">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3 class="title-small">
                    <span>Skills</span>
                </h3>
                <p class="content-detail">
                    You may find various definition for skills online, but for me skills are what define me in one way.
                    My skills define my knowledge, ability, professionalism and genuinety and what I can do.
                    The percentage represents average idea of how much confident I am to work on with the amount of time and information provided.
                </p>
                <p class="content-details">
                    What do you think you have been staring at for a long time now? 
                    This is one of the output from the best known skills I posses.
                </p>
            </div>
            <div class="col-md-9 content-right">
                <!--SKILLST-->
                <div class="skillst">
                    <div class="skillbar" data-percent="95%">
                        <div class="title head-sm">
                            <h6>Programming and Development</h6> (HTML5, CSS 3, JAVA, C#, Python, JavaScript, JQuery, PHP, SQL, VBA, ASP.NET CORE MVC)
                        </div>
                        <div class="count-bar">
                            <div class="count"></div>
                        </div>
                    </div>
                    <div class="skillbar" data-percent="75%">
                        <div class="title head-sm">
                            <h6>Cryptography and Cyber Security</h6> (Specialises on Kali Linux)
                        </div>
                        <div class="count-bar">
                            <div class="count"></div>
                        </div>
                    </div>
                    <div class="skillbar" data-percent="60%">
                        <div class="title head-sm">
                            <h6>Photoshop and Design</h6> (Maya and Adobe Products)
                        </div>
                        <div class="count-bar">
                            <div class="count"></div>
                        </div>
                    </div>
                    <div class="skillbar" data-percent="98%">
                        <div class="title head-sm">
                            <h6>Communications (Verbal and Written)</h6> (English, Hindi, Odia, Punjabi)
                        </div>
                        <div class="count-bar">
                            <div class="count"></div>
                        </div>
                    </div>
                    <div class="skillbar" data-percent="90%">
                        <div class="title head-sm">
                            <h6>Personal Management</h6>
                        </div>
                        <div class="count-bar">
                            <div class="count"></div>
                        </div>
                    </div>
                    <div class="skillbar" data-percent="98%">
                        <div class="title head-sm">
                            <h6>Work Management</h6>
                        </div>
                        <div class="count-bar">
                            <div class="count"></div>
                        </div>
                    </div>
                    <div class="skillbar" data-percent="95%">
                        <div class="title head-sm">
                            <h6>Time Management</h6>
                        </div>
                        <div class="count-bar">
                            <div class="count"></div>
                        </div>
                    </div>
                </div>
                <!--/.SKILLST END-->
            </div>
        </div>
    </div>
</section>
<!--/.SKILLS END-->
            <!--SERVICES-->
<section class="white-bg" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3 class="title-small">
                    <span>Services</span>
                </h3>
                <p class="content-detail">
                   If you've been through my home page then you must know by now what I am. If you could not wait that long
                    for the fancy letters to appear on your screen then please go through my skills. If you are still
                    wondering about me then, your bad! Refer to the right, these are the fancy services that I deal with. I am open 
                    to work on new ideas and projects. 
                </p>
                <p class="content-details">
                    Don't judge a fish by its ability to climb a tree! I am a Developer. What more do you expect?
                    </p>
            </div>
            <div class="col-md-9 content-right">
                <div class="row">
                    <ul class="listing-item">
                        <li>
                            <div class="col-md-4 col-sm-4">
                                <h3 class="icon-use">
                                    c
                                </h3>
                                <p class="head-sm">
                                    WEB DESIGN AND DEVELOPMENT
                                </p>
                                <p class="text-grey">
                                    One of the best thing I love to do is developing something new and interesting. What's more fun than
                                    building websites and showing off your creativity! I deal with designing web pages and developing
                                    interactive websites based on different platforms. 
                                    </p>
                                <p class="text-greys">
                                    I also make modern web based mobile applications
                                    and user interface.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div class="col-md-4 col-sm-4">
                                <h3 class="icon-use">
                                    d
                                </h3>
                                <p class="head-sm">
                                    SOFTWARE ENGINEERING
                                </p>
                                <p class="text-grey">
                                    Being a developer, I also deal with modern software engineering and development. My skills in programming 
                                    defines my ability in developing modern web based applications and softwares with interactive user interfce.
                                </p>
                                <p class="text-greys">
                                    Besides developing softwares for common and daily use I also deal with game development based on unity engine.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div class="col-md-4 col-sm-4">
                                <h3 class="icon-use">
                                    m
                                </h3>
                                <p class="head-sm">
                                    OTHERS
                                </p>
                                <p class="text-grey">
                                    Certainly my area of expertise and services are not limited to developing fancy softwares or websites.
                                    I also create algorithms on demands to solve real life and complex problems faced in the world of computing including cryptography.
                                    </p>
                                <p class="text-greys">
                                    I also host most of my own websites that I develop and setup security rules for the sites accordingly.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/.SERVICES END-->
            <!--EDUCATION-->
<section class="grey-bg" id="education">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3 class="title-small">
                    <span>Education</span>
                </h3>
                <p class="content-detail">
                    The journey of my education till now has been very interesting for me. I have studied in three different schools in India and 
                    currently I am pursuing my Bachelors in New Zealand. Although the journey of my education started in my mother-land India
                    but may certainly not end in India. I am in my final year of my undergraduate and will be completing my graduation 
                    with the Bachelors degree in Information Technology from the Southern Institute of Technology in December 2017.
                </p>
                <p class="content-detail">
                    It is during the journey of my education,
                    I got to discover myself and the true potential of my skills.
                    That is what education is meant for, right? 
                </p>
            </div>
            <div class="col-md-9 content-right">
                <div class="row">
                    <ul class="listing-item">
                        <li>
                            <div class="col-md-6 col-sm-6">
                                <div class="wrap-card">
                                    <div class="card">
                                        <h2 class="year">
                                            2000 - 2005
                                        </h2>
                                        <p class="job">
                                            Kindergarten to year 1
                                        </p>
                                        <p class="company">
                                            SCB MEDICAL PUBLIC SCHOOL, CUTTACK
                                        </p>
                                        <hr>
                                        <div class="text-detail">
                                            <p>
                                                This is where I started my Education. My first school inside the premises of the most 
                                                prestigious and popular government hospital in the state, SCB Medical. This is where I was introduced to 
                                                computers and learnt the basic usage of Mouse, Keyboard, Monitor, CPU, etc. But couldn't get to learn more 
                                                and had to leave school because Dad got promoted to new position and place.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="col-md-6 col-sm-6">
                                <div class="wrap-card">
                                    <div class="card">
                                        <h2 class="year">
                                            2005 - 2009
                                        </h2>
                                        <p class="job">
                                            Year 2 to Year 7
                                        </p>
                                        <p class="company">
                                            ST. ANNE'S CONVENT SCHOOL, BARIPADA
                                        </p>
                                        <hr>
                                        <div class="text-detail">
                                            <p>
                                                My second School. An Indian Christian missionary english medium school located in
                                                Prafulla Nagar, Baripada. Here I was introduced to basic educational programming
                                                language like LOGO, QBasic and Little Man Computing. I must agree, those are
                                                pretty cool stuff and fun to learn and understand. And I also had to leave this
                                                school since Dad got promotted to new position and place again.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="listing-item">
                        <li>
                            <div class="col-md-6 col-sm-6">
                                <div class="wrap-card">
                                    <div class="card">
                                        <h2 class="year">
                                            2009 - 2014
                                        </h2>
                                        <p class="job">
                                            Senior Secondary School and High School
                                        </p>
                                        <a href="http://www.stewartschoolbbsr.in/">
                                            <p class="company">
                                                STEWART SCHOOL, BHUBANESWAR
                                            </p>
                                        </a>
                                        <hr>
                                        <div class="text-detail">
                                            <p>
                                                This is where I completed my Secondary and High School. A school more than 50 years old
                                                and is administered through a managing commitee by the Diocese of Cuttack and the Church
                                                of North India. This is the place where I was introduced to High Level Programming Languages like Java
                                                and Python. I was also taught HTML and CSS in this school.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="col-md-6 col-sm-6">
                                <div class="wrap-card">
                                    <div class="card">
                                        <h2 class="year">
                                            2015 - 2017
                                        </h2>
                                            <p class="job">
                                                BACHELOR IN INFORMATON TECHNOLOGY
                                            </p>
                                        <a href="https://www.sit.ac.nz/">
                                            <p class="company">
                                                SOUTHERN INSTITUTE OF TECHNOLOGY, NEW ZEALAND
                                            </p>
                                            </a>
                                            <hr>
                                        <div class="text-detail">
                                            <p>
                                                This is where I am at present and currently pursuing my undergraduate degree.
                                                Te Whare Wānanga o Murihiku, as in Southern Institute of Techology, a home to Zero
                                                Fee Scheme. This is where I was taught more adavanced stuff and other programming languages
                                                and their application in real life and how to deal with clients in real life.
                                            </p>
                                        </div>
                                        </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/.EDUCATION END-->
            <!--Work-->
            <section class="white-bg mar-tm-10" id="work">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="title-small">
                                <span>Work</span>
                            </h3>
                            <p class="content-detail">
                                I was fortunate enough to get real life project during my studies at the Southern Institute of
                                Tecnology. I got to experience the real life work scenarios with clients and how to deal with the
                                requirement of the clients. It was quite challenging. But is it not what work environments are all about?
                            </p>
                        </div>
                        <div class="col-md-9 content-right">
                            <div class="row">
                                <ul class="listing-item">
                                    <li>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="wrap-card">
                                                <div class="card">
                                                    <h2 class="year">
                                                        2016
                                                    </h2>
                                                    <p class="job">
                                                        ACADEMIC PROJECT 
                                                    </p>
                                                    <p class="job">
                                                        (PHP Developer)
                                                    </p>
                                                    <a href="http://die.co.nz/">
                                                        <p class="company">
                                                            INNOVATION QUEENSTOWN
                                                            </p>
                                                    </a>
                                                    <hr>
                                                    <div class="text-detail">
                                                        <p>
                                                           My first academic project that I received while I pursuing my Second
                                                            year at the Southern Institute of Technology. The project was all about
                                                            building a web portal based on PHP and Apache server that serves as a
                                                            web portal for promoting innovation and technology
                                                            in Queenstown, New zealand.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="wrap-card">
                                                <div class="card">
                                                    <h2 class="year">
                                                        2017
                                                    </h2>
                                                    <p class="job">
                                                        ACADEMIC PROJECT
                                                    </p>
                                                    <p class="job">
                                                        (Team Leader & ASP.NET MVC Developer)
                                                    </p>
                                                    <a href="http://www.southalive.org.nz/">
                                                        <p class="company">
                                                            SOUTH ALIVE
                                                    </p>
                                                    </a>
                                                    <hr>
                                                    <div class="text-detail">
                                                        <p>
                                                            My second academic project under my administration that I received 
                                                            while I was pursuing my third year of my undergraduate at SIT. 
                                                            South Alive isan urban rejuvenation project, led by the community, 
                                                            with the goal of  identifying the best possible future for South 
                                                            Invercargill and ways to  make it happen.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
<!--/.WORK END-->
            <!--CONTACT-->
<section id="contact" class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3 class="title-small">
                    <span>Contact</span>
                </h3>
                <p class="content-detail">
                    Have you seen my about page? My contact details are all mentioned over there. But you can also send me messages 
                    from the contact form that is to the right. I keep options open for everyone to contact me without any difficulty.
                </p>
            </div>
            <div class="col-md-9 content-right">
                @if (ViewBag.Message == null)
                {
                <form action="?" method="post">
                    <div class="group">
                        <input required="" asp-for="Name" type="text">
                        <span class="highlight" ></span>
                        <span asp-validation-for="Name" class="bar"></span>
                        <label asp-for="Name">Name</label>
                    </div>
                    <div class="group">
                        <input required="" asp-for="Email" type="email">
                        <span class="highlight"></span>
                        <span asp-validation-for="Email" class="bar"></span>
                        <label asp-for="Email">Email</label>
                    </div>
                    <div class="group">
                        <textarea required="" asp-for="Message"></textarea>
                        <span class="highlight"></span>
                        <span asp-validation-for="Message" class="bar"></span>
                        <label asp-for="Message">Message</label>
                    </div>
                        <input id="sendMessage" class="btn btn-success" name="sendMessage" type="submit" value="Send Message">
                </form>
                }
                <div>
                    <div>
                        @if (ViewBag.Message != null)
                        {
                            <div>
                                @ViewBag.Message
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/.CONTACT END-->